   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: "Orbitron";
       color: rgb(0, 0, 0);
       scrollbar-width: none;
   }

   body {
       background-color: rgb(255, 255, 255);
   }

   button {
       cursor: pointer;
       border: none;
       user-select: none;
   }

   button:hover {
       filter: brightness(80%);
   }

   button:active {
       filter: brightness(120%);
   }

   .main-header {
       top: 0;
       position: sticky;
       padding: 0 20px;
       box-shadow: 0 1px 2px rgba(54, 54, 54, 0.2);
       background-color: #ffffff70;
       backdrop-filter: blur(10px);
   }

   .nav-top {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       height: 55px;
       max-width: 2000px;
       margin: 0 auto;
   }

   .nav-logo {
       display: inline;
       overflow: hidden;
       white-space: nowrap;
       font-size: 2em;
       text-decoration: none;
       user-select: none;
   }

   .nav-link-container {
       display: flex;
       justify-content: right;
       max-width: 20%;
       gap: 2em;
       text-decoration: none;
   }

   .nav-links {
       display: none;
       font-size: 1em;
       text-decoration: none;
   }

   .burger-menu {
       display: none;
   }

   @media (max-width: 700px) {

       .nav-top {
           height: 45px;
       }

       .nav-logo {
           font-size: 1.5em;
       }

       .nav-link-container {
           display: none;
       }

       .burger-menu {
           display: block;
       }

       #burger-icon {
           font-size: 40px;
       }
   }

   .content {
       padding: 1em;
       background-color: rgb(240, 240, 240);
   }

   .content-header {
       display: flex;
       justify-content: space-between;
       border-bottom: solid 1px #c3c7cb;
       align-items: center;
       padding: 0 0 1em 0;
   }

   .content-header-button-container {
       display: flex;
       gap: 0.5em;
   }

   .header-button {
       border: none;
       font-size: 1em;
       padding: 0.5em;
   }

   #reset-button {
       background-color: #ff7676;
       border-radius: 5px;
   }

   .select-button-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       transition-duration: 200ms;
   }

   #select-button {
       background-color: #f5c535;
       border: none;
   }

   .select-container {
       display: flex;
       flex-direction: column;
       border-radius: 10px;
       background-color: #ffc526;
       margin-top: 10px;
   }

   .search-button-container {
       border-radius: inherit;
       height: 100%;
   }

   .search-button {
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: inherit;
       background-color: rgb(255, 244, 84);
       height: 100%;
       width: 30px;
   }

   #search-reset-button {
       visibility: hidden;
   }

   #search-input-container {
       background-color: rgb(255, 244, 84);
   }

   .preset-list-container {
       padding: 10px;
       width: 100%;
   }

   .preset-list-item {
       display: flex;
       justify-content: space-between;
   }

   #start-button {
       background-color: #89F336;
       padding: 0.5em 1em;
       border-radius: 10px;
   }

   @media (max-width: 700px) {

       .content-header-button-container {
           display: none;
       }
   }

   .main-content {
       display: flex;
       flex-direction: column;
       max-width: 1300px;
       min-height: 100vh;
       flex-shrink: 1;
       margin: 0 auto;
       padding: 1em;
       background-color: #ffffff;
       border-radius: 5px;
       box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
   }

   .input-root {
       display: flex;
       align-items: center;
       padding: 1em 0 0 0;
   }

   .input-container {
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-radius: 10px;
       height: 30px;
       min-width: 0;
       max-width: 300px;
   }

   #input-container:hover {
       filter: brightness(95%);
   }

   .input-button-container {
       height: 100%;
       border-radius: inherit;
   }

   #exercise-input-container {
       background-color: #f5f5f5;
   }

   .text-input-button {
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #f5f5f5;
       border: none;
       width: 30px;
       height: 100%;
       border-radius: inherit;
       padding: 0;
       color: blue;
   }

   .text-input-button:hover {
       filter: brightness(95%);
   }

   .text-input-button:active {
       filter: brightness(110%);
   }

   #text-reset-button {
       visibility: hidden;
   }

   .input-field {
       border: none;
       outline: none;
       height: 100%;
       font-size: 1em;
       flex-grow: 1;
       flex-shrink: 1;
       min-width: 0;
       text-align: left;
       padding-left: 0.5em;
       background-color: transparent;
   }

   .input-field::placeholder {
       color: #707072;
   }

   .list-container {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0.5em;
       margin: 0;
   }

   .list-button {
       border: none;
       padding: 10px;
       position: relative;
       right: 0;
   }

   #list-skip-button {

       background-color: #ffc526;
       border-radius: 20px;
       padding: 10px;
       margin-left: 0.5em;

   }

   #list-delete-button {
       background-color: #fd3f3f;
       border-radius: 20px;
       padding: 10px;
       margin-left: 0.5em;
   }

   #list-duration-button {
       background-color: springgreen;
       border-radius: 20px;
   }

   @media (max-width: 600px) {}

   #error-text {
       padding-left: 1em;
       color: rgb(255, 57, 57);
       display: inline-block;
   }

   .main-footer {
       display: flex;
       justify-content: center;
       border-top: solid 2px black;
       height: 100px;
       background-color: rgb(163, 145, 127);
       padding: 2em;
   }

   .horizontal-shake {
       animation: horizontal-shaking 0.1s;
   }

   .visible {
       visibility: visible !important;
   }

   @keyframes horizontal-shaking {
       0% {
           transform: translateX(0);
       }

       25% {
           transform: translateX(5px);
       }

       50% {
           transform: translateX(-5px)
       }

       75% {
           transform: translateX(5px)
       }

       100% {
           transform: translateX(0)
       }
   }

   .material-symbols-outlined {
       font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 24
   }